body{
    font-size:xx-large;
}
    header {

    
        left: 0px;
        top: 0px;
        display: block;
        margin: auto;
        text-align:center;
        background: #E6E6E6;
        
        
    }

    img{
        display: block;
        margin-left: auto; 

        margin-right: auto;
        background: #E6E6E6;
        width: 7%;
    }
    #encabezado{     
    
        left: 0px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        background: #C4C4C4;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

    h1{
        
    position: static;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;  
    /* identical to box height, or 30px */
    color: #005677;
    background: #C4C4C4;

    }
    main{
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7%;
        margin-top: 3%;
        
        
    }
        #divmain{
            
            width: 1640px;    
            left: 600px;
            top: 600px;
            
        }   
        
            section{
                
                    left: 225px;
                    top: 10px;
                    height: 300px;
                    margin: auto;
            }
                h2 {
                font-family: Times New Roman;
                font-style: normal;
                font-weight: bold;
                
                background: #C4C4C4;
                /*estudiar esta prpiedad_line-height: 84.69%;
                /* identical to box height, or 17px */
                
                font-feature-settings: 'cpsp' on;
                
                color: #005677;
                
                }

            #datosPersonales{
                position: static;
                left: 225px;
                top: 352px;
                }
                
            .inlineBlock{
                        
                display: inline-block;   
                vertical-align: text-top;   
            }

            li.inlineBlock{
                /* los li, que sean hijos de ul, y etos ul que a su vez sean hijos de section*/
                font-weight: bold;
            }

            section>ul{
                height: 159px;
                
            }

    footer{
        position:static;
        background: #005677;
        text-align: center;
        font-size :200%;
        color: white;
        margin: auto;
    }
        .logos_footer{
            width: 1.5%;
            display: inline;
            background: #005677
            
        }
        